In [2]:
import pandas as pd

In [3]:
amazon = pd.read_csv('MLOpsReviews/amazon_prime_titles.csv',parse_dates=['date_added'])
disney = pd.read_csv('MLOpsReviews/disney_plus_titles.csv',parse_dates=['date_added'])
hulu = pd.read_csv('MLOpsReviews/hulu_titles.csv',parse_dates=['date_added'])
netflix = pd.read_csv('MLOpsReviews/netflix_titles.csv',parse_dates=['date_added'])

# Amazon

In [90]:
amazon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9668 entries, 0 to 9667
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       9668 non-null   object
 1   type          9668 non-null   object
 2   title         9668 non-null   object
 3   director      7586 non-null   object
 4   cast          8435 non-null   object
 5   country       672 non-null    object
 6   date_added    155 non-null    object
 7   release_year  9668 non-null   int64
 8   rating        9331 non-null   object
 9   duration      9668 non-null   object
 10  listed_in     9668 non-null   object
 11  description   9668 non-null   object
dtypes: int64(1), object(11)
memory usage: 906.5+ KB

In [91]:
amazon.head(2)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,NaN,113 min,"Comedy, Drama",A small fishing village must procure a local d...
1,s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...

In [92]:
amazon.isna().sum()

show_id            0
type               0
title              0
director        2082
cast            1233
country         8996
date_added      9513
release_year       0
rating           337
duration           0
listed_in          0
description        0
dtype: int64

In [93]:
amazon.duplicated().sum()

0

In [94]:
amazon.nunique()

show_id         9668
type               2
title           9668
director        5774
cast            7927
country           86
date_added        84
release_year     100
rating            24
duration         219
listed_in        518
description     9414
dtype: int64

In [102]:
amazon.insert(1,'id','a'+amazon.show_id)
amazon.drop(columns='show_id',inplace=True)
amazon.head(2)

,id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,as1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,NaN,113 min,"Comedy, Drama",A small fishing village must procure a local d...
1,as2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...

In [96]:
amazon.rating.unique()

array([nan, '13+', 'ALL', '18+', 'R', 'TV-Y', 'TV-Y7', 'NR', '16+',
       'TV-PG', '7+', 'TV-14', 'TV-NR', 'TV-G', 'PG-13', 'TV-MA', 'G',
       'PG', 'NC-17', 'UNRATED', '16', 'AGES_16_', 'AGES_18_', 'ALL_AGES',
       'NOT_RATE'], dtype=object)

In [103]:
amazon.rating.fillna('G',inplace=True)

In [104]:
amazon = amazon.apply(lambda x: x.astype(str).str.lower())
amazon.head()

,id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,as1,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,"march 30, 2021",2014,g,113 min,"comedy, drama",a small fishing village must procure a local d...
1,as2,movie,take care good night,girish joshi,"mahesh manjrekar, abhay mahajan, sachin khedekar",india,"march 30, 2021",2018,13+,110 min,"drama, international",a metro family decides to fight a cyber crimin...
2,as3,movie,secrets of deception,josh webber,"tom sizemore, lorenzo lamas, robert lasardo, r...",united states,"march 30, 2021",2017,g,74 min,"action, drama, suspense",after a man discovers his wife is cheating on ...
3,as4,movie,pink: staying true,sonia anderson,"interviews with: pink, adele, beyoncé, britney...",united states,"march 30, 2021",2014,g,69 min,documentary,"pink breaks the mold once again, bringing her ..."
4,as5,movie,monster maker,giles foster,"harry dean stanton, kieran o'brien, george cos...",united kingdom,"march 30, 2021",1989,g,45 min,"drama, fantasy",teenage matt banting wants to work with a famo...

In [106]:
amazon[['duration_int','duration_type']] = amazon.duration.str.split(expand=True)
amazon.duration_int = amazon.duration_int.astype('int')
amazon.drop(columns=['duration'],inplace=True)
amazon.head()

,id,type,title,director,cast,country,date_added,release_year,rating,listed_in,description,duration_int,duration_type
0,as1,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021-03-30,2014,g,"comedy, drama",a small fishing village must procure a local d...,113,min
1,as2,movie,take care good night,girish joshi,"mahesh manjrekar, abhay mahajan, sachin khedekar",india,2021-03-30,2018,13+,"drama, international",a metro family decides to fight a cyber crimin...,110,min
2,as3,movie,secrets of deception,josh webber,"tom sizemore, lorenzo lamas, robert lasardo, r...",united states,2021-03-30,2017,g,"action, drama, suspense",after a man discovers his wife is cheating on ...,74,min
3,as4,movie,pink: staying true,sonia anderson,"interviews with: pink, adele, beyoncé, britney...",united states,2021-03-30,2014,g,documentary,"pink breaks the mold once again, bringing her ...",69,min
4,as5,movie,monster maker,giles foster,"harry dean stanton, kieran o'brien, george cos...",united kingdom,2021-03-30,1989,g,"drama, fantasy",teenage matt banting wants to work with a famo...,45,min

In [107]:
amazon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9668 entries, 0 to 9667
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             9668 non-null   object
 1   type           9668 non-null   object
 2   title          9668 non-null   object
 3   director       9668 non-null   object
 4   cast           9668 non-null   object
 5   country        9668 non-null   object
 6   date_added     155 non-null    datetime64[ns]
 7   release_year   9668 non-null   object
 8   rating         9668 non-null   object
 9   listed_in      9668 non-null   object
 10  description    9668 non-null   object
 11  duration_int   9668 non-null   int64
 12  duration_type  9668 non-null   object
dtypes: datetime64[ns](1), int64(1), object(11)
memory usage: 982.0+ KB

# Disney

In [108]:
disney.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1450 entries, 0 to 1449
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       1450 non-null   object
 1   type          1450 non-null   object
 2   title         1450 non-null   object
 3   director      977 non-null    object
 4   cast          1260 non-null   object
 5   country       1231 non-null   object
 6   date_added    1447 non-null   object
 7   release_year  1450 non-null   int64
 8   rating        1447 non-null   object
 9   duration      1450 non-null   object
 10  listed_in     1450 non-null   object
 11  description   1450 non-null   object
dtypes: int64(1), object(11)
memory usage: 136.1+ KB

In [110]:
disney.isna().sum()

show_id           0
type              0
title             0
director        473
cast            190
country         219
date_added        3
release_year      0
rating            3
duration          0
listed_in         0
description       0
dtype: int64

In [111]:
disney.duplicated().sum()

0

In [113]:
disney.insert(1,'id','a'+disney.show_id)
disney.drop(columns='show_id',inplace=True)
disney.head(2)

,id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,as1,Movie,Duck the Halls: A Mickey Mouse Christmas Special,"Alonso Ramirez Ramos, Dave Wasson","Chris Diamantopoulos, Tony Anselmo, Tress MacN...",NaN,"November 26, 2021",2016,TV-G,23 min,"Animation, Family",Join Mickey and the gang as they duck the halls!
1,as2,Movie,Ernest Saves Christmas,John Cherry,"Jim Varney, Noelle Parker, Douglas Seale",NaN,"November 26, 2021",1988,PG,91 min,Comedy,Santa Claus passes his magic bag to a new St. ...

In [115]:
disney.rating.fillna('G',inplace=True)

In [116]:
disney = disney.apply(lambda x: x.astype(str).str.lower())

In [118]:
disney[['duration_int','duration_type']] = disney.duration.str.split(expand=True)
disney.duration_int = disney.duration_int.astype('int')
disney.drop(columns=['duration'],inplace=True)
disney.head()

,id,type,title,director,cast,country,date_added,release_year,rating,listed_in,description,duration_int,duration_type
0,as1,movie,duck the halls: a mickey mouse christmas special,"alonso ramirez ramos, dave wasson","chris diamantopoulos, tony anselmo, tress macn...",nan,2021-11-26,2016,tv-g,"animation, family",join mickey and the gang as they duck the halls!,23,min
1,as2,movie,ernest saves christmas,john cherry,"jim varney, noelle parker, douglas seale",nan,2021-11-26,1988,pg,comedy,santa claus passes his magic bag to a new st. ...,91,min
2,as3,movie,ice age: a mammoth christmas,karen disher,"raymond albert romano, john leguizamo, denis l...",united states,2021-11-26,2011,tv-g,"animation, comedy, family",sid the sloth is on santa's naughty list.,23,min
3,as4,movie,the queen family singalong,hamish hamilton,"darren criss, adam lambert, derek hough, alexa...",nan,2021-11-26,2021,tv-pg,musical,"this is real life, not just fantasy!",41,min
4,as5,tv show,the beatles: get back,nan,"john lennon, paul mccartney, george harrison, ...",nan,2021-11-25,2021,g,"docuseries, historical, music",a three-part documentary from peter jackson ca...,1,season

In [119]:
disney.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1450 entries, 0 to 1449
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             1450 non-null   object
 1   type           1450 non-null   object
 2   title          1450 non-null   object
 3   director       1450 non-null   object
 4   cast           1450 non-null   object
 5   country        1450 non-null   object
 6   date_added     1447 non-null   datetime64[ns]
 7   release_year   1450 non-null   object
 8   rating         1450 non-null   object
 9   listed_in      1450 non-null   object
 10  description    1450 non-null   object
 11  duration_int   1450 non-null   int64
 12  duration_type  1450 non-null   object
dtypes: datetime64[ns](1), int64(1), object(11)
memory usage: 147.4+ KB

# Hulu

In [3]:
hulu.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3073 entries, 0 to 3072
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       3073 non-null   object
 1   type          3073 non-null   object
 2   title         3073 non-null   object
 3   director      3 non-null      object
 4   cast          0 non-null      float64
 5   country       1620 non-null   object
 6   date_added    3045 non-null   object
 7   release_year  3073 non-null   int64
 8   rating        2553 non-null   object
 9   duration      2594 non-null   object
 10  listed_in     3073 non-null   object
 11  description   3069 non-null   object
dtypes: float64(1), int64(1), object(10)
memory usage: 288.2+ KB

In [30]:
hulu.head()

,id,type,title,director,cast,country,date_added,release_year,rating,listed_in,description,duration_int,duration_type
1,as2,movie,silent night,nan,nan,nan,2021-10-23,2020,g,"crime, drama, thriller","mark, a low end south london hitman recently r...",94,min
2,as3,movie,the marksman,nan,nan,nan,2021-10-23,2021,pg-13,"action, thriller",a hardened arizona rancher tries to protect an...,108,min
3,as4,movie,gaia,nan,nan,nan,2021-10-22,2021,r,horror,a forest ranger and two survivalists with a cu...,97,min
4,as5,movie,settlers,nan,nan,nan,2021-10-22,2021,g,"science fiction, thriller",mankind's earliest settlers on the martian fro...,104,min
5,as6,tv show,the halloween candy magic pet,nan,nan,nan,2021-10-22,2021,g,"family, kids",join mila and morphle on a mystery-filled hall...,1,season

In [26]:
hulu.isna().sum()

show_id            0
type               0
title              0
director        2591
cast            2594
country         1273
date_added        28
release_year       0
rating           414
duration           0
listed_in          0
description        1
dtype: int64

In [46]:
hulu = hulu[hulu.duration.notna()]

In [48]:
hulu.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2594 entries, 1 to 3072
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             2594 non-null   object
 1   type           2594 non-null   object
 2   title          2594 non-null   object
 3   director       2594 non-null   object
 4   cast           2594 non-null   object
 5   country        2594 non-null   object
 6   date_added     2594 non-null   object
 7   release_year   2594 non-null   object
 8   rating         2594 non-null   object
 9   listed_in      2594 non-null   object
 10  description    2594 non-null   object
 11  duration_int   2594 non-null   int64
 12  duration_type  2594 non-null   object
dtypes: int64(1), object(12)
memory usage: 283.7+ KB

In [47]:
hulu.insert(1,'id','a'+hulu.show_id)
hulu.drop(columns='show_id',inplace=True)

hulu.rating.fillna('G',inplace=True)

hulu = hulu.apply(lambda x: x.astype(str).str.lower())


hulu[['duration_int','duration_type']] = hulu.duration.str.split(expand=True)
hulu.duration_int = hulu.duration_int.astype('int')
hulu.drop(columns=['duration'],inplace=True)

# Netflix

In [42]:
netflix = pd.read_csv('MLOpsReviews/netflix_titles.csv',parse_dates=['date_added'])

In [43]:
netflix.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   datetime64[ns]
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: datetime64[ns](1), int64(1), object(10)
memory usage: 825.8+ KB

In [31]:
netflix.isna().sum()

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64

In [32]:
netflix.duplicated().sum()

0

In [49]:
netflix = netflix[netflix.duration.notna()]

In [44]:
netflix.tail()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
8802,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,2019-11-20,2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a..."
8803,s8804,TV Show,Zombie Dumb,NaN,NaN,NaN,2019-07-01,2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g..."
8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,2019-11-01,2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...
8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,2020-01-11,2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,2019-03-02,2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...

In [50]:
netflix.insert(1,'id','a'+netflix.show_id)
netflix.drop(columns='show_id',inplace=True)

netflix.rating.fillna('G',inplace=True)

netflix = netflix.apply(lambda x: x.astype(str).str.lower())

#netflix.date_added  = pd.to_datetime(netflix.date_added,format = "%B %d, %Y" )

netflix[['duration_int','duration_type']] = netflix.duration.str.split(expand=True)
netflix.duration_int = netflix.duration_int.astype('int')
netflix.drop(columns=['duration'],inplace=True)

## Funciones de ETL

In [ ]:
class proceso_ETL():
    import pandas as pd
    import glob

    def cargar_ratings(self):
        listacsv = self.glob.glob('**/[1-8].csv', recursive=True)
        df = pd.DataFrame(pd.read_csv(listacsv[0]))

        for i in range(1,len(listacsv)):
            data = pd.read_csv(listacsv[i])
            df = pd.DataFrame(data)
            df = pd.concat([df,df])

        return df

    def cargar_plataformas(self):
        ruta_carpeta = 'MLOpsReviews'
        lista_csv = self.glob.glob(ruta_carpeta + "/*.csv")

        ids = ['a','d','h','n']

        peliculas = pd.DataFrame({})

        for i in range(len(lista_csv)):
            #Leer cada csv
            data = pd.read_csv(lista_csv[i],parse_dates=['date_added'])
            df = pd.DataFrame(data)

            #Eliminar datos con duracion nula
            df = df[df.duration.notna()]

            #Cambiar columna 'show_id' por 'id' con identificador de plataforma 
            df.insert(1,'id',ids[i]+df.show_id)
            
            df.rating.fillna('G',inplace=True)

            df = df.apply(lambda x: x.astype(str).str.lower())

            df[['duration_int','duration_type']] = df.duration.str.split(expand=True)
            df.duration_int = df.duration_int.astype('int')
            df.drop(columns=['show_id','duration'],inplace=True)


            peliculas = pd.concat([peliculas,df],axis=0)

        return peliculas

In [4]:
import glob

listacsv = glob.glob('**/[1-8].csv', recursive=True)
df = pd.DataFrame(pd.read_csv(listacsv[0]))

for i in range(1,len(listacsv)):
	data = pd.read_csv(listacsv[i])
	df = pd.DataFrame(data)
	df = pd.concat([df,df])
df.head()

   userId  rating   timestamp movieId
0  249182     3.5  1460518555   ds327
1  249182     4.0  1461878500  ns2124
2  249182     3.0  1460182087  as8841
3  249182     4.5  1460183214  hs2318
4  249182     2.5  1460184332  as5743

In [5]:
df.shape

(3000000, 4)

In [20]:
df.info

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12524289 entries, 0 to 1499999
Data columns (total 4 columns):
 #   Column     Dtype
---  ------     -----
 0   userId     int64
 1   rating     float64
 2   timestamp  int64
 3   movieId    object
dtypes: float64(1), int64(2), object(1)
memory usage: 477.8+ MB

In [91]:
ruta_carpeta = 'MLOpsReviews'
lista_csv = glob.glob(ruta_carpeta + "/*.csv")

ids = ['a','d','h','n']

plataformas = pd.DataFrame({})

for i in range(len(lista_csv)):
	#Leer cada csv
	data = pd.read_csv(lista_csv[i],parse_dates=['date_added'])
	df = pd.DataFrame(data)

	#Eliminar datos con duracion nula
	df = df[df.duration.notna()]

	#Cambiar columna 'show_id' por 'id' con identificador de plataforma 
	df.insert(1,'id',ids[i]+df.show_id)
	
	df.rating.fillna('G',inplace=True)

	df = df.apply(lambda x: x.astype(str).str.lower())

	df[['duration_int','duration_type']] = df.duration.str.split(expand=True)
	df.duration_int = df.duration_int.astype('int')
	df.drop(columns=['show_id','duration'],inplace=True)


	plataformas = pd.concat([plataformas,df],axis=0)

In [107]:
plataformas.shape

(22516, 13)

In [18]:
plataformas.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22516 entries, 0 to 1449
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             22516 non-null  object
 1   type           22516 non-null  object
 2   title          22516 non-null  object
 3   director       22516 non-null  object
 4   cast           22516 non-null  object
 5   country        22516 non-null  object
 6   date_added     22516 non-null  object
 7   release_year   22516 non-null  object
 8   rating         22516 non-null  object
 9   listed_in      22516 non-null  object
 10  description    22516 non-null  object
 11  duration_int   22516 non-null  int64
 12  duration_type  22516 non-null  object
dtypes: int64(1), object(12)
memory usage: 2.4+ MB

In [126]:
plataformas.date_added = pd.to_datetime(plataformas.date_added,format = "%Y-%m-%d")
plataformas.release_year = plataformas.release_year.astype('int')

In [20]:
plataformas.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22516 entries, 0 to 1449
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             22516 non-null  object
 1   type           22516 non-null  object
 2   title          22516 non-null  object
 3   director       22516 non-null  object
 4   cast           22516 non-null  object
 5   country        22516 non-null  object
 6   date_added     12962 non-null  datetime64[ns]
 7   release_year   22516 non-null  int64
 8   rating         22516 non-null  object
 9   listed_in      22516 non-null  object
 10  description    22516 non-null  object
 11  duration_int   22516 non-null  int64
 12  duration_type  22516 non-null  object
dtypes: datetime64[ns](1), int64(2), object(10)
memory usage: 2.4+ MB

In [112]:
plataformas.head()

,id,type,title,director,cast,country,date_added,release_year,rating,listed_in,description,duration_int,duration_type
0,as1,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021-03-30,2014,g,"comedy, drama",a small fishing village must procure a local d...,113,min
1,as2,movie,take care good night,girish joshi,"mahesh manjrekar, abhay mahajan, sachin khedekar",india,2021-03-30,2018,13+,"drama, international",a metro family decides to fight a cyber crimin...,110,min
2,as3,movie,secrets of deception,josh webber,"tom sizemore, lorenzo lamas, robert lasardo, r...",united states,2021-03-30,2017,g,"action, drama, suspense",after a man discovers his wife is cheating on ...,74,min
3,as4,movie,pink: staying true,sonia anderson,"interviews with: pink, adele, beyoncé, britney...",united states,2021-03-30,2014,g,documentary,"pink breaks the mold once again, bringing her ...",69,min
4,as5,movie,monster maker,giles foster,"harry dean stanton, kieran o'brien, george cos...",united kingdom,2021-03-30,1989,g,"drama, fantasy",teenage matt banting wants to work with a famo...,45,min

In [22]:
plataformas.type.unique()

array(['movie', 'tv show'], dtype=object)

In [133]:
#Película con mayor duración con filtros opcionales de AÑO, PLATAFORMA Y TIPO DE DURACIÓN
def duracion(year: int,platform,duration_type):
    #global plataformas
    platform = platform[0]
    if platform not in 'adhn':
        return 'El campo platform solo admite los valores amazon,disney,hulu o netflix'
    
    if duration_type == 'min':
        df = plataformas[(plataformas.id.str.startswith(platform)) & (plataformas.type== 'movie') & (plataformas.release_year == year)] 
        #plataformas[(plataformas.id.str.startswith(platform)) & (plataformas.type== 'movie') & (plataformas.release_year == year)]
    elif duration_type == 'season':
        df = plataformas[(plataformas.id.str.startswith(platform)) & (plataformas.type== 'tv show') & (plataformas.release_year == year)]
    else: 
        return 'El campo duration_type solo admite los valores "min" o "season"'

    idx = df.duration_int.idxmax()        
    return df.title[idx]

In [134]:
duracion(1990,'netflix','season')

'talespin'

In [ ]:
def get_score_count(platform,scored: float,year: int):
    '''Función para obtener el número de  peliculas con un puntaje mayor a un valor especifico
    en un año determinado '''
    platform = platform[0]
    if platform not in 'adhn':
        return 'El campo platform solo admite los valores amazon,disney,hulu o netflix'


    return 'f'

In [137]:
def get_platform_count(platform: str):
    '''Función para obtener el número de peliculas disponibles de una plataforma
    '''
    platform = platform[0]
    if platform not in 'adhn':
        return 'El campo platform solo admite los valores amazon,disney,hulu o netflix'
    
    return plataformas[plataformas.id.str.startswith(platform)].id.count()

In [140]:
get_platform_count('netflix')

1450

In [205]:
cast = plataformas[(plataformas.id.str.startswith('a')) & (plataformas.release_year == 2008)].cast
cast

17                             narrator - gillian barlett
62      jack wrangler, margaret whiting, marc shaiman,...
106                                                   nan
125                jim broadbent, colin firth, gina mckee
158                                          peter sallis
                              ...
9621    rainn wilson, christina applegate, teddy geige...
9640    sean maguire, carmen electra, ken davitian, ke...
9641                        owen wilson, jennifer aniston
9654    martina ittenbach, daryl jackson, jaymes butle...
9665    ray stevenson, julian wadham, richard brake, m...
Name: cast, Length: 171, dtype: object

In [206]:
cast = cast.str.split(", ").explode()
cast

17      narrator - gillian barlett
62                   jack wrangler
62                margaret whiting
62                    marc shaiman
62                   bruce vilanch
                   ...
9665                 ray stevenson
9665                 julian wadham
9665                 richard brake
9665                michael smiley
9665                   enoch frost
Name: cast, Length: 890, dtype: object

In [207]:
cast.drop

0

In [203]:
cast = cast.dropna()

In [208]:
cast.value_counts().drop(labels='nan')

carmen electra       3
olga kurylenko       3
jane lynch           2
vik sahay            2
warren belle         2
                    ..
david haydn-jones    1
sadie leblanc        1
niall matter         1
nonso anozie         1
enoch frost          1
Name: cast, Length: 829, dtype: int64

In [ ]:
def get_actor(platform,year: int):
    ''' Función para obtener el actor que mas interpretaciones ha realizado en una plataforma y año especifico'''
    platform = platform[0]
    if platform not in 'adhn':
        return 'El campo platform solo admite los valores amazon,disney,hulu o netflix'
    
    actores = plataformas[(plataformas.id.str.startswith(platform)) & (plataformas.release_year == year)].cast
    actores = actores.str.split(", ").explode()
    actores = actores.cast.value_counts().drop(labels='nan')

    return actores.index[0]

0